
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nvarchar](10) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCVAN]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVAN](
	[MAHV] [nvarchar](10) NOT NULL,
	[TENHV] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOCVAN] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [nvarchar](10) NOT NULL,
	[LOAIHD] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[PHONGBAN] [nvarchar](30) NULL,
	[LOAIHD] [nchar](10) NULL,
	[LUONG] [float] NULL,
	[BAOHIEM] [nvarchar](50) NULL,
	[TRANGTHAIHOSO] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [nvarchar](10) NOT NULL,
	[TENPB] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDTPB] [nvarchar](20) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHUCAP]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUCAP](
	[ID] [int] NOT NULL,
	[THANG] [int] NULL,
	[PHUCAP] [nvarchar](50) NULL,
	[LYDO] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/12/2019 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDN] [nvarchar](20) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[QUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'GD', N'Giám đốc')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'GV', N'Giảng viên')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'PGD', N'Phó giám đốc')
INSERT [dbo].[HOCVAN] ([MAHV], [TENHV]) VALUES (N'CD', N'Cao đẳng')
INSERT [dbo].[HOCVAN] ([MAHV], [TENHV]) VALUES (N'CH', N'Cao học')
INSERT [dbo].[HOCVAN] ([MAHV], [TENHV]) VALUES (N'DH', N'Đại học')
INSERT [dbo].[HOPDONG] ([MAHD], [LOAIHD], [GHICHU]) VALUES (N'HD12', N'12 tháng', N'Thời hạn hợp đồng trong vòng 12 tháng')
INSERT [dbo].[HOPDONG] ([MAHD], [LOAIHD], [GHICHU]) VALUES (N'HD36', N'36 tháng', N'Thời hạn hợp đồng trong vòng 36 tháng')
INSERT [dbo].[HOPDONG] ([MAHD], [LOAIHD], [GHICHU]) VALUES (N'HDMAX', N'Vô hạn', N'Thời hạn hợp đồng là vô hạn')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [CHUCVU], [HOCVAN], [PHONGBAN], [LOAIHD], [LUONG], [BAOHIEM], [TRANGTHAIHOSO]) VALUES (N'NV01', N'Nguyễn Văn A', CAST(N'1974-12-03' AS Date), N'Nam', N'Thủ Dầu Một', N'09090999', N'Giảng viên', N'Đại học', N'Khoa Kỹ thuật-Công Nghệ', N'12 tháng  ', 8000000, NULL, N'Nghỉ có phép')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [CHUCVU], [HOCVAN], [PHONGBAN], [LOAIHD], [LUONG], [BAOHIEM], [TRANGTHAIHOSO]) VALUES (N'NV02', N'Trần Thị b', CAST(N'1971-08-31' AS Date), N'Nữ', N'Hà Nội', N'0937006862', N'Giám đốc', N'Đại học', N'Phòng đào tạo', N'36 tháng  ', 8500000, N'45343', N'Nghỉ không phé')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [CHUCVU], [HOCVAN], [PHONGBAN], [LOAIHD], [LUONG], [BAOHIEM], [TRANGTHAIHOSO]) VALUES (N'NV03', N'Bùi Thị Nở', CAST(N'2019-11-04' AS Date), N'Nữ', N'Hải Phòng', N'098123765', N'Giảng viên', N'Đại học', N'Khoa Kinh tế', N'12 tháng  ', 9000000, NULL, N'Nghỉ thai sản')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [DIACHI], [SDTPB]) VALUES (N'KD', N'Khoa Điện ', N'Thủ Dầu Một', N'0123784569')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [DIACHI], [SDTPB]) VALUES (N'KKT', N'Phòng Kinh tế', N'Thủ Dầu Một', N'0965721198')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [DIACHI], [SDTPB]) VALUES (N'KTCN', N'Khoa Kỹ thuật-Công nghệ', N'Thủ Dầu Một', N'0650140281')
INSERT [dbo].[PHUCAP] ([ID], [THANG], [PHUCAP], [LYDO]) VALUES (15, 11, N'500', N'Thưởng')
INSERT [dbo].[TAIKHOAN] ([TENDN], [TENNV], [MATKHAU], [QUYEN]) VALUES (N'Nhut', N'Nguyễn Nhựt', N'456', N'Admin')
INSERT [dbo].[TAIKHOAN] ([TENDN], [TENNV], [MATKHAU], [QUYEN]) VALUES (N'Tho', N'Mai Chí Thọ', N'123', N'User')
INSERT [dbo].[TAIKHOAN] ([TENDN], [TENNV], [MATKHAU], [QUYEN]) VALUES (N'Tuan', N'Nguyễn Tuân', N'140', N'User')
